<h1>Editing Murmur</h1>

<%= render 'form', murmur: @murmur %>

<button type="button" class="btn btn-outline-warning"><%= link_to 'Show', @murmur %></button> |
<button type="button" class="btn btn-outline-info"><%= link_to 'Back', murmurs_path %></button>
