<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @murmur.content %>
</p>

<button type="button" class="btn btn-outline-warning"><%= link_to 'Edit', edit_murmur_path(@murmur) %></button> |
<button type="button" class="btn btn-outline-info"><%= link_to 'Back', murmurs_path %></button>
